<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Photos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% include 'navbar.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all_photos.css' %}">
</head>
</head>
<body>
    <div class="main-content">
        <h3 class="title">View Other User's Photos</h3>
        <div class="photos">
            {% for photo in photos %}
                {% if photo.private == False %}
                    <div class="photo">
                        <img src="{{photo.image.url}}">
                        <p>Posted By: <a href="/user/profile/{{photo.user.id}}">{{photo.user.username}}</a></p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>