<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Photo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% include 'navbar.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/view_photo.css' %}">
</head>
<body>
    <div class="main-content">
        <div class="view-photo-form">
            <form action="{% url 'edit_photo' id=photo.id %}" method="post">
                {% csrf_token %}
                <h3>View Photo</h3>
                {{form.as_p}}
                    <div class="button-holder">
                        <button type="submit" class="btn btn-primary">Update Photo</button>
                        <a href="{% url 'delete_photo' id=photo.id %}">Delete Photo</a>
                    </div>
            </form>
        </div>
        <div class="photo">
            <img src="{{photo.image.url}}">
        </div>
    </div>
</body>
</html>